@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to our Phoenix car dealership. Right now our website is under constuction :)</p>
</div>
